{% extends 'base.html' %}
{% block title %}Crop Recommendation{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1 class="display-4">Crop Recommendation System</h1>
                <p>The crop you should plant based on your data is:</p>
                <h5 class="mb-4"><b>{{corrected_result}}</b></h5>
            </div>
            <div class="text-center">
                <a class="btn btn-warning" href="/croprecommendation">Add New Values</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
