{% extends 'base.html' %} {% block title %}Cropdex{% endblock title %} 

{% block content %}

<div class="row-sm p-sm-5">
    <div class="col-sm-12 p-sm-5">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{url_for('static', filename='images/sliders/first.jpg')}}" class="d-block w-100" style="height: 600px !important; " alt="...">
                    <div class="carousel-caption d-none d-md-block text-dark">
                        <h2>Welcome to Cropdex</h2>
                        <p>An innovative agricultural utility website designed to empower farmers by offering cutting-edge AI-driven harvesting solutions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>


{% endblock content %}